 <!-- TABLE OF LINKS -->
    <div class="row gy-7 justify-content-center">
        <div class="col-11">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">Pages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="link" href ="patrons">View and add patrons of library.</a></td>
                    </tr>
                    <tr>
                        <td><a class="link" href ="employees">View and add employees of library.</a></td>
                    </tr>
                    <tr>
                        <td><a class="link" href ="materials">View and add materials of library.</a></td>
                    </tr>
                    <tr>
                        <td><a class="link" href ="loans">View and update loans of library materials.</a></td>
                    </tr>
                    <tr>
                        <td><a class="link" href ="holds">View, update, and delete holds of library materials.</a></td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>